html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

::selection {
    color: red;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0;
}

body {
    background-image: url('https://i.picsum.photos/id/681/1920/1080.jpg?hmac=qyb0NfTEkQw9QdsIYQbV0GhAEyKiPcAfetmIF_e8Kik');
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

span {
    color: red;
    cursor: pointer;
}

span::selection , span:hover {
    color: white;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 100vh;
}

.description {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    padding: 0;
}

.btn {
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: red ;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.btn:not(:last-child) {
    margin-right: 10rem;
}

.btn:hover {
    color: #333;
    background-color: white;
}
